body{
    background-image: url(./img/correcaodaimg.png);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 40px ;
    padding-top: 20px;
    width:100% ;
    
}


.home{
    display: flex;
    justify-content: center;
    margin-left: 22%;
    gap: 30px;
    font-size:3vh;
}

.ws{  
    color: black;
    background-color: #FEFE55;
    padding: 1vh 3vh;
    border-radius: 8px;

}

.titulo{
    padding:10vh 3vh;
}

.tema{
    transform: translateY(-70px);
    padding: 1vh 3vh;
    gap: 70px;
    display: flex;
    color: rgb(169, 169, 169);
}

.descricao{
    padding: 1vh 3vh;
}

.descricao h1{
    font-size: 2vh;
    display: flex;
    transform: translateY(-75px);
}


.descricao h2{
    font-size: 1.7vh;
    display: flex;
    transform: translateY(-60px);
    color: rgb(169, 169, 169);
}


.logo{
    display: flex;
    position: absolute;
    top: 0.1%;
    padding: 1vh 3vh;
}


.ws1{  
    color: black;
    background-color: #FEFE55;
    padding: 1vh 3vh;
    border-radius: 8px;
    display:flex ;
    transform: translateX(30px);
    width:140px;
}


.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #111;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 700px;
  max-width: 90%;
  border: 1px solid #444;
  transform: translate(0px, 150px);
}

.card img {
  width: 132px;
  height: 195px;
  display: flex;
}

.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.genre {
  color: #999;
  font-size: 12px;
}

h2 {
  font-size: 20px;
}

.imdb {
  font-weight: bold;
}

.imdb span {
  color: #ffeb3b;
}

.desc {
  font-size: 13px;
  color: #ccc;
  max-width: 400px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 0 0 100px;
  padding: 8px 0;
  border-radius: 6px;
  font-weight: bold;
}

.watch {
  background-color: #ffeb3b;
  color: #000;
}

.details {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}
